// @file
// Custom SASS mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

@mixin shiny-button {
  @include background-image(linear-gradient(#8BA9BA 44%, #5E849C 55%));
  @include border-radius(5px);
  @include box-shadow(0 0 0 1px #c3c4c4);
  border: 1px solid #adcfd7;
  color: #fff;
  padding: 0.5em 1.5em;
  margin: 5px;
  text-decoration: none;
}
